* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
body {
  background-color: #f5f1ed;
  top: 0;
  width: 100%;
  overflow-x: hidden;
}

/* NAVBAR */
#navbar ul {
  z-index: 1;
  width: 100%;
  height: 70px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #d88c9a;
  position: fixed;
}

#navbar li {
  float: right;
  padding: 0 20px;
  position: relative;
  top: 35%;
}

#navbar #first {
  float: left;
}

#navbar li a {
  color: #f5f1ed;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "Vollkorn";
}

#navbar ul li::after {
  content: "";
  width: 0%;
  height: 1.5px;
  background: #f5f1ed;
  display: block;
  margin: auto;
  transition: 0.5s;
}
#navbar ul li:hover::after {
  width: 80%;
}

/* IMAGES AND PARAGRAPHS */
.container {
  width: 900px;
  margin: auto;
  display: flex;
  padding: 70px, 100px, 100px, 0px;
  justify-content: space-between;
}
#top-container {
  padding-top: 240px;
  padding-bottom: 100px;
}

#profile {
  margin-right: 40px;
}
/* #cindy {
  margin-left: 40px;
} */
.title {
  font-family: "Italiana";
  font-size: 48px;
}
.body-text {
  font-family: "Lato";
  font-size: 16px;
  line-height: 1.4;
}
.circle-image {
  border-radius: 50%;
  width: 400px;
  object-fit: contain;
}

/* MAIN LINKS */
.main-links {
  flex: 1;
  text-align: center;
  justify-content: left;
  padding: 0;
  position: absolute;
}
.main-links ul li {
  margin-top: 4vmin;
  margin-bottom: 4vmin;
  list-style: none;
  display: inline-block;
  position: relative;
}
.button {
  display: inline-block;
  text-decoration: none;
  color: #7da075;
  border: 1px solid #7da075;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  margin: 0px 0.9px 0px 0.9px;
}
.button:hover {
  border: 1px solid #7da075;
  background: #7da075;
  color: #f5f1ed;
  transition: 1s;
}

.container2 {
  width: 900px;
  margin: auto;
  padding: 100px;
}
.container3 {
  width: 1200px;
  margin: auto;
  padding: 100px;
  padding-left: 0;
  padding-right: 0;
}

.grid-container {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 100px 100px 100px;
  border-width: 5px;
  gap: 5px;
}

.grid-item {
  background-color: #7da075;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 3.5vmin;
  color: #f5f1ed;
}

#other-skills .grid-item {
  background-color: #d88c9a;
}

.copyright {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Italiana";
}

/* CONTACT */
#contact-container {
  width: 700px;
  padding-left: 0;
  padding-right: 0;
}
.contactBox {
  width: 100%;
  height: 450px;
  border-radius: 5px;
  background-color: #7da075;
  margin: auto;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  display: block;
  font-family: "Roboto";
  margin-top: 10px;
}
#name-label {
  display: block;
  color: #f5f1ed;
  font-size: 20px;
}
#name {
  margin-top: 5px;
  display: block;
  background-color: #f5f1ed;
  border: none;
  width: 98%;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
#name:focus {
  outline: none;
}
#email-label {
  margin-top: 20px;
  display: block;
  color: #f5f1ed;
  font-size: 20px;
}
#email {
  margin-top: 5px;
  display: block;
  background-color: #f5f1ed;
  border: none;
  width: 98%;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
#email:focus {
  outline: none;
}
#message-label {
  margin-top: 20px;
  display: block;
  color: #f5f1ed;
  font-size: 20px;
}
#message {
  margin-top: 5px;
  display: block;
  background-color: #f5f1ed;
  border: none;
  width: 98%;
  height: 200px;
  font-family: "Roboto";
  padding: 5px;
}
#message:focus {
  outline: none;
}
#contact-btn {
  margin-top: 20px;
  color: #f5f1ed;
  background: transparent;
  border: 1px solid #f5f1ed;
}
#contact-btn:hover {
  border: 1px solid #f5f1ed;
  background: #f5f1ed;
  color: #7da075;
  transition: 1s;
}

/* DESIGNS */
.designs-gallery {
  margin-top: 20px;
  display: grid;
  grid-gap: 1.3957%;
  grid-template-columns: 53.2599% 0.67739% 46.06266%;
  grid-template-rows: 337px 351px 109px 170px 65px 294px 491px;
}
.gallery__img {
  width: 100%;
  object-fit: scale-down;
}
.gallery__item {
  max-height: 100%;
  padding: 15px;
  background-color: white;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery__item--2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.gallery__item--4 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}
.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
}
.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
}
.gallery__item--7 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}
.gallery__item--8 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 7;
  grid-row-end: 8;
}
